<!DOCTYPE html>
<html>
  <head>
    <title>Agenda Online-IA</title>
    <link rel="stylesheet" href="../static/css/index.css" \ />
  </head>
  <body>
    <div class="main-box">
      <h1>Agenda Online-IA</h1>
      <div class="buttons">
        <form id="form" action="/agendar" method="GET">
          <button class="effect effect-5 bt-1" for="agendar">Agendar</button>
        </form>
        <form id="form" action="/compromissos" method="GET">
          <button class="effect effect-5" for="agendar">Compromissos</button>
        </form>
      </div>
    </div>
  </body>
</html>